layout python3
[[ -d $PWD/.env ]] && unlink $PWD/.env
ln -s $PWD/.direnv/$(basename $VIRTUAL_ENV)/ $PWD/.env

export PROJECT_ROOT=$PWD
export CONFLUENT_HOME=$PROJECT_ROOT/confluent-5.0.3
export JAVA_HOME=/Library/Java/JavaVirtualMachines/temurin-8.jdk/Contents/Home/
PATH_add $CONFLUENT_HOME/bin
PATH_add $PWD/scripts
PATH_add $PWD/yugabyte-2.13.0.1/bin
PATH_add $JAVA_HOME/bin
